In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import display, HTML
pd.set_option('display.max_rows', 1000)

results = pd.read_csv("results.csv")

In [2]:
table = results.groupby(['algo', 'taille', 'serie']).mean()[['temps', 'r']].unstack('serie')
table

                        temps                                     r           \
serie                    10             100            1000    10       100
algo    taille
glouton 100          0.314497       0.376337       0.368924    38.9    304.6
        1000         0.839631       2.010757       4.405143   319.8   2905.5
        10000        6.563927      13.430389      72.371937  3142.3  28714.3
local   100          2.232966       2.868102       2.516810    44.0    337.7
        1000       378.668339     560.457269     550.665304   364.7   3332.3
        10000   311269.641705  444151.038564  445679.819265  3603.1  33276.7
progdyn 100          0.071891       0.321500       2.393305    47.4    378.0
        1000         2.840861      25.395118     241.321261   421.0   3724.7
        10000      269.568468    2470.460208  250351.560399  4214.1  37300.7


serie               1000
algo    taille
glouton 100       2980.8
        1000     28454.7
        10000   283274.5
local   100       3240.0
        1000     32224.1
        10000   325989.8
progdyn 100       4129.3
        1000     36469.1
        10000   307382.5

In [3]:
table = results.groupby(['algo', 'taille', 'serie']).max()[['temps','r']].unstack('serie')
table

                        temps                                 r
serie                    10            100           1000  10     100     1000
algo    taille
glouton 100          0.407446  6.019370e-01  5.949100e-01    71    533    5488
        1000         1.409080  3.123012e+00  7.233299e+00   569   5237   50608
        10000       12.094182  2.442511e+01  1.193912e+02  5697  52585  513606
local   100          4.041536  5.155619e+00  3.588747e+00    80    585    5736
        1000       902.578167  1.180309e+03  1.134925e+03   668   5991   57487
        10000   705351.204614  1.053125e+06  1.018865e+06  6488  60582  589316
progdyn 100          0.135954  6.062910e-01  4.676302e+00    84    659    7161
        1000         5.118560  4.691748e+01  4.377149e+02   732   6482   61155
        10000      480.277131  4.514211e+03  8.450419e+05  7220  64267  510771

In [4]:
table = results.groupby(['algo', 'taille', 'serie']).min()[['temps','r']].unstack('serie')
table

                       temps                                r
serie                   10            100           1000 10    100    1000
algo    taille
glouton 100         0.214219      0.249589      0.283337   12   102   1133
        1000        0.331345      1.077680      1.288364   60   561   5450
        10000       1.230896      2.984034     30.664494  563  5317  53476
local   100         0.982224      1.014093      1.023833   16   135   1287
        1000       35.481558     67.008387    146.483764   68   645   6739
        10000   18837.437778  33889.724513  34364.252728  655  6266  62475
progdyn 100         0.020257      0.083362      0.715806   17   145   1981
        1000        0.515884      4.369038     42.305012   93   911   9122
        10000      49.456643    495.217336   4512.229982  978  9207  91966